body{
    background-color: #6b6e5c;
    margin: 0;
    padding: 0;
    height: 650px;
}

nav, div#content, div#gameinfo{
    height: inherit;
    margin: 0;
    padding: 0;
}

nav{
    display: inline-block;
    background-color: white;
    width: 20%;
}

div#content{
    display: inline-block;
    background-color: dodgerblue;
    width: 50%;
}

div#gameinfo{
    display: inline-block;
    background-color: darkgreen;
    width: 20%;
}