body{
    background-color: #6b6e5c;
    margin: 0;
    padding: 0;
    height: 650px;
}

nav, div#content, div#gameinfo{
    height: inherit;
    margin: 0px;
    padding: 0px;
    float: left;
}

nav{
    display: inline-block;
    background-color: white;
    width: 20%;
}

div#content{
    display: inline-block;
    background-color: dodgerblue;
    width: 50%;
}

div#gameinfo{
    display: inline-block;
    background-color: darkgreen;

    width: 250px;

}

div.player{
    display: block;
    height: 50%;
    padding: 10px;
    margin: 0;
}

div.player:first-child{
    background-color: #9f2555;
}


.move-area, .fence-horizontal, .fence-vertical, .fence-middle{
    float: left;
    background-color: #9949e2;

}

.move-area:hover, .fence-horizontal:hover, .fence-vertical:hover, .fence-middle:hover{
    background-color: #9d02e2;

}

div.move-area{
    width: 40px;
    height: 40px;

}

div.fence-vertical{
    width: 20px;
    height: 40px;
}

div.fence-horizontal{
    width: 40px;
    height: 20px;
}

div.fence-middle{
    width: 20px;
    height: 20px;
}