:root{
    --square-size: 25px;
}


body{
    background-color: #6b6e5c;
    margin: 0;
    padding: 0;
    height: 650px;
}

nav, div#content, div#gameinfo{
    height: inherit;
    margin: 0px;
    padding: 0px;
    float: left;
}

nav{
    display: inline-block;
    background-color: #ace88c;
    width: 250px;
}

div#content{
    display: inline-block;
    background-color: dodgerblue;
    width: 50%;
}

div#gameinfo{
    display: inline-block;
    width: 250px;

}

div.player{
    display: block;
    height: 50%;
    padding: 10px;
    margin: 0;
}

div.player:first-child{
    background-color: #9f0807;
}

div.player:last-child{
    background-color: #22279f;
}


.fence-horizontal, .fence-vertical, .fence-middle{
    float: left;
    background-color: #000000;
}

 .fence-horizontal:hover, .fence-vertical:hover, .fence-middle:hover{
    background-color: #341a0d;
}
.fence-horizontalSelected, .fance-verticalSelected, .fence-middleSelected{
    background-color: navy;
}
.move-area{
    float: left;
    background-color: #25120a;
}

.move-area:hover{
    <!--background-color: #5b2d18; -->

}

div.move-area{
    width: calc(var(--square-size)*2);
    height: calc(var(--square-size)*2);

}

div.fence-vertical{
    width: var(--square-size);
    height: calc(var(--square-size)*2);
}

div.fence-horizontal{
    width: calc(var(--square-size)*2);
    height: var(--square-size);
}

div.fence-middle{
    width: var(--square-size);
    height: var(--square-size);
}

div.spacer{
    clear: both;
}

div.pawn{
    border: calc(var(--square-size)*0.3) solid white;
    width: var(--square-size);
    height: var(--square-size);
    border-radius: var(--square-size);
    margin: auto;
    margin-top: calc(var(--square-size)*0.2);
}

div.pawn:hover{
    filter: brightness(140%);
}