{% extends 'base.html' %}
{% block title %}Skrypciaki Quoridor{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('quoridor.js') }}" defer></script>
{% endblock %}

    {% block nav %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block gameinfo %}
        <div class="player">
            <span class="turn-mark">
                *
            </span>
            <span class="player-name">
                Player 1
            </span>
            <br>
            <span class="fences-number">
                7
            </span>
            fences
            <div class="fences-display">
                | | | | | | |
            </div>
        </div>
        <div class="player">
            <span class="turn-mark">
                *
            </span>
            <span class="player-name">
                Player 2
            </span>
            <br>
            <span class="fences-number">
                4
            </span>
            fences
            <div class="fences-display">
                | | | |
            </div>
        </div>

    {% endblock %}



